jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-resource-usage==0.6.3
jupyter-server==1.21.0
jupyter_client==7.4.3
jupyter_core==4.11.2
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.16.1
keras==2.10.0
Keras-Preprocessing==1.1.2
matplotlib
matplotlib-inline
nbclassic==0.4.7
nbclient==0.7.0
nbconvert==6.5.4
nbformat==5.7.0
nbresult==0.0.9
pandas-profiling
pandocfilters
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-datasets==4.6.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.10.0
streamlit
Pillow
streamlit-folium
folium
selenium
opencv-python-headless
#opencv-python
